<style>
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .preview {
    display: inline-block;
    margin: 0 40px 0 0;
  }
</style>

<div *ngIf="!dataLoaded" class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="dataLoaded" class="card m-3" align="center">
  <div class="card-body">
    <div class="col-md-12 row justify-content-center">
      <div *ngFor="let image of carImages" class="m-2 col-md-4 column" >
        <img src="https://localhost:44386/{{ image.imagePath }}" class="m-2" />
      </div>
    </div>

    <div class="col-md-6 m-3">
      <div class="card-header">
        <h4>{{ car.brandName }} {{ car.description }}</h4>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <td>Color:</td>
            <td>{{ car.colorName }}</td>
          </tr>
          <tr>
            <td>Model Year:</td>
            <td>{{ car.modelYear }}</td>
          </tr>
          <tr>
            <td>Daily Price:</td>
            <td>{{ car.dailyPrice }} ₺</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
