<!-- welcome to {{title}}

<ul>
  <li *ngFor="let car of cars">{{car.brand}}</li>
</ul> -->

<div class="container">
  <app-navi></app-navi>

  <div class="row justify-content-between">
    <div class="col-md-12 m-3">
      <h3 align="center">Cars</h3>
      <app-car></app-car>
    </div>

    <div class="col-md-9 m-3">
      <h3 align="center">Rentals</h3>
      <app-rental></app-rental>
    </div>

    <div class="col-md-2 m-3">
      <h3 align="center">Colors</h3>
      <app-color></app-color>
    </div>

    <div class="col-md-8 m-3">
      <h3 align="center">Customers</h3>
      <app-customer></app-customer>
    </div>

    <div class="col-md-3 m-3">
      <h3 align="center">Brands</h3>
      <app-brand></app-brand>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
